@import url(font-awesome.min.css);

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #78a01e;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 175%;
}

header {
    background-color: white;
    padding: 30px 40px;
}

footer {
    background-color: white;
    padding: 30px 40px;
}

footer ul {
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    font-size: 25px;
}

.active {
    color: #78a01e;
    font-weight: bold;
}

.background-container {
    background-image: url('../../images/tree1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.clear {
    clear: both;
}

.copyright p {
    font-size: 15px;
    text-align: center;
}

.half-page {
    float: left;
    height: 100%;
    width: 50%;
}

.nav-menu {
    margin: auto;
    padding: 10px 0;
}

.nav {
    list-style: none;
}

.nav-link {
    text-transform: uppercase;
}

.nav-item {
    display: inline;
    padding: 0 15px;
}

.nav-item:last-child {
    padding: 0 0 0 15px;
}

.nav-link {
    font-size: 18px;
}

.nav-link:hover {
    color: #78a01e;
}

.nav-menu {
    float: right;
}

.page-title {
    float: left;
    margin: auto;
    padding: 2px 0;
}

.section-container {
    padding: 0 40px;
}

.section-container:first-of-type {
    padding: 30px 40px 0 40px;
}

.section-container:last-of-type {
    padding: 0 40px 50vw 40px;
}

.section-container .section-title {
    font-size: 25px;
    padding-bottom: 20px;
}

.section-separator {
    margin: 0 40px 50vw 40px;
}

.scrollable-content {
    max-height: 100vh;
    overflow-y: scroll;
}

.social-medias {
    text-align: right;
}

.social-medias > a > .fab {
    color: white;
    padding-left: 20px;
}

.sticky-bottom {
    background-color: rgb(120, 103, 77);
    bottom: 0;
    position: sticky;
}

.sticky-top {
    position: sticky;
    top: 0;
}

@media screen and (max-width: 1024px) {
    .half-page {
        float: none;
        width: 100%;
    }
}