@import url(font-awesome.min.css);

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body, html {
    height: 100%;
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #78a01e;
}

header {
    background-color: white;
    color: black;
    padding: 30px 40px;
}

footer {
    background-color: white;
    color: black;
    padding: 30px 40px;
}

.separator {
    margin: 30vw 40px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 175%;
}

a:hover {
    text-decoration: none;
}

.clear {
    clear: both;
}

.social-medias {
    text-align: right;
}

.social-medias > a > .fab {
    color: white;
    padding-left: 20px;
}

.sticky-top {
    background-color: white;
    position: sticky;
    top: 0;
}

.sticky-bottom {
    background-color: rgb(120, 103, 77);
    position: sticky;
    bottom: 0;
}

.page-title {
    float: left;
    margin: auto;
    padding: 2px 0;
}

.nav-menu {
    margin: auto;
    padding: 10px 0;
}

.nav {
    list-style: none;
}

.nav-link {
    text-transform: uppercase;
}

.nav-item {
    display: inline;
    padding: 0 15px;
}

.nav-item:last-child {
    padding: 0 0 0 15px;
}

.nav-link {
    font-size: 18px;
}

.nav-link:hover {
    color: #78a01e;
}

.nav-menu {
    float: right;
}

.half-page {
    width: 50%;
    float: left;
}

.scrollable-content {
    overflow-y: scroll;
    max-height: 100vh;
}

.background-container {
    background-image: url('../../images/tree1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-position: top;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
     -ms-animation: fadein 2s;
      -o-animation: fadein 2s;
         animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.section-content:first-of-type {
    padding: 20vw 40px 0 40px;
}

.section-content {
    padding: 0 40px;
}

.section-content:last-of-type {
    padding: 0 40px 20vw 40px;
}

.section-content > h2 {
    font-size: 25px;
    padding-bottom: 20px;
}

footer ul {
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: 0 15px;
}

footer ul li a {
    font-size: 25px;
}


.copyright p {
    font-size: 15px;
    text-align: center;
}

@media screen and (max-width: 1024px) {
    .half-page {
        width: 100%;
        float: none;
    }
}