@import url(font-awesome.min.css);

body, html {
    height: 100%;
    overflow-y: hidden;
}

h1, h2, h3, h4, h5, h6 {
    color: #78a01e;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

p {
    font-size: 18px;
    line-height: 175%;
}

header {
    background-color: white;
}

footer {
    background-color: white;
}

footer ul {
    list-style-type: none;
    margin-top: 20px;
    text-align: center;
}

footer ul li {
    display: inline;
    margin: 0 20px;
}

.active {
    color: #78a01e;
}

.background-container {
    background-image: url('../../images/tree1.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.clear {
    clear: both;
}

.copyright p {
    font-size: 15px;
    text-align: center;
}

.copyright a {
    color: #78a01e;
    text-decoration: underline;
}

.half-page {
    float: left;
    height: 100%;
    width: 50%;
}

.navbar {
    padding: 20px 0;
}

.nav-link {
    font-size: 18px;
}

.nav-link:hover {
    color: #78a01e;
}

.section-container:first-of-type {
    padding: 30px 0 0 0;
}

.section-container:last-of-type {
    padding: 0 0 31vw 0;
}

.section-title {
    font-size: 25px;
    padding-bottom: 20px;
}

.section-separator {
    height: 72vw;
}

.scrollable-content {
    max-height: 100vh;
    overflow-y: scroll;
}

.social-medias i {
    font-size: 18px;
}

.sticky-bottom {
    background-color: white;
    bottom: 0;
    position: sticky;
    padding: 30px 0;
}

@media screen and (max-width: 1024px) {
    .half-page {
        float: none;
        width: 100%;
    }
}